# MOS 6526 CIA and pin compatibles
# Pin Constraints File for iCE5LP1K-SG48

set_io -nowarn DB0  44
set_io -nowarn DB1  45
set_io -nowarn DB2  46
set_io -nowarn DB3   6
set_io -nowarn DB4   4
set_io -nowarn DB5   3
set_io -nowarn DB6   2
set_io -nowarn DB7  48

set_io -nowarn PA0  36
set_io -nowarn PA1  35
set_io -nowarn PA2  34
set_io -nowarn PA3  32
set_io -nowarn PA4  31
set_io -nowarn PA5  28
set_io -nowarn PA6  25
set_io -nowarn PA7  26

set_io -nowarn PB0  27
set_io -nowarn PB1  23
set_io -nowarn PB2  21
set_io -nowarn PB3  20
set_io -nowarn PB4  19
set_io -nowarn PB5  18
set_io -nowarn PB6  17
set_io -nowarn PB7  15

set_io -nowarn PC   14
set_io -nowarn TOD  13
set_io -nowarn IRQ  12
set_io -nowarn R_W  11
set_io -nowarn CS   10
set_io -nowarn FLAG  9
set_io -nowarn PHI2 47
set_io -nowarn RES  41
set_io -nowarn RS3  40
set_io -nowarn RS2  39
set_io -nowarn RS1  43
set_io -nowarn RS0  42
set_io -nowarn SP   38
set_io -nowarn CNT  37

